
<html ng-app="MSApp">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- JQuery -->
   <script
   src="https://code.jquery.com/jquery-3.2.1.min.js"
   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
   crossorigin="anonymous"></script>
   <!--Angular-->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
   <!--CSS Frameworks-->
   <!--Bootstrap required files-->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <!--Vuetify.js required files-->
   <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
   <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">
   <script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
   <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
   <!--Fonts-->
   <link href="https://fonts.googleapis.com/css?family=Mystery+Quest" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Henny+Penny" rel="stylesheet">
   <!-- <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet"> -->
   <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Princess+Sofia" rel="stylesheet">
   <!-- <link href="https://fonts.googleapis.com/css?family=Stalemate" rel="stylesheet"> -->
   <link href="https://fonts.googleapis.com/css?family=Kristi" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Montez" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
   <!--Main Stylesheet-->
   <link rel="stylesheet" href="./css/app.css">
   <!--App-->
   <!-- <script>
   $(function(){
          $("body").load("./partials/nav.html");
       });
   </script> -->
   <script src="app.js" type="text/javascript"></script>
   <title>Märchen & Sagen</title>
</head>
<body ng-controller="StoryController as BodyOfWork">
   <!--Bootstrap Nav-->
   <!-- Fixed navbar -->
    <!-- <% include ./partials/nav %> -->
    <!-- <link rel="stylesheet" href="./partials/nav.html"> -->
    <!-- <div id="nav"><div> -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a ng-click="BodyOfWork.goHome()" href="#">Home</a></li>
            <li><a role="button" data-toggle="modal" data-target="#createstory" href="#">Create Story</a></li>
            <li><a href="#" role="button" data-toggle="modal" data-target="#about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" ng-click="BodyOfWork.logout()">Log Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <header>
      <div class="headerTitle navbar-brand" >
          <!-- <img src="images/ft16.png" width="40" height="40"/> -->
          <h3>Mär·chen & Sȯ·gen<br>
             <h4 class="subtitle">"The world where fairytales & legends are born."</h4>
          </div>
    </header>
<div class="content">
   <div class="container">
      <div class="text">
         <div class="categories">
            <div class="categoryBorder">
               <div class="categoryStyle">
                  <h3>Categories</h3>
                  <ul ng-repeat="category in BodyOfWork.categories track by $index" >
                     <li>{{category.category}}</li>
                  </ul>
               </div>
               <div class="recentSnippet">
                  <h3>Recent Snippets</h3>
                  <ul ng-repeat="snippet in BodyOfWork.recentSnippets track by $index" ng-if="$index < 5">
                     <li><span class="spanTitle">{{BodyOfWork.snippetTitle[$index]}}</span><br>{{snippet.snip}}</li>
                  </ul>
               </div>
               <div class="allSnippets">
                  <a href="#" role="button" ng-click="BodyOfWork.showSnippets()">All Snippets</a>
               </div>
            </div>
         </div>
         <!--All Stories-->
			<div ng-hide="BodyOfWork.allStories" ng-repeat="story in BodyOfWork.stories track by $index" class="title">
				<div class="title">
					<h3><a href="#" ng-click="BodyOfWork.viewStory($index)">{{story.title}}</a></h3>
				</div>
            <!-- <div >
               <p class="member"><a href="#">{{story.author}}</a><br><span>{{story.date}}</span></p>
            </div> -->
				<div class="clearfix"> </div>
				<div class="title-grid">
					<a href="#"><img src="{{story.img}}"/></a>
					<p class="description">{{story.description}}</p>
					<p class="storyText">{{BodyOfWork.mergedContentArray[$index]}}</p>
				</div><br>
				<div class="add">
               <div class="submitBtn2">
                  <!-- <button data-toggle="modal" data-target="#addSnippet"> Continue Story </button> -->
                  <input data-toggle="modal" data-target="#addSnippet" ng-click="BodyOfWork.addSnippets($index)" type="submit" value="Continue Story">
               </div>
				</div>
            <div>
               <p class="divide"></p>
            </div>
            <div>
               <p class="divide"></p>
            </div>
			</div>
         <!--View Story-->
         <div ng-show="BodyOfWork.viewStory" class="title">
				<div class="title">
					<h3>{{BodyOfWork.storyTitle}}</h3>
				</div>
            <div >
               <p class="member"><a href="#">{{story.author}}</a><br><span>{{story.date}}</span></p>
            </div>
				<div class="clearfix"> </div>
				<div class="title-grid">
					<a href="#"><img src="{{BodyOfWork.storyImg}}"/></a>
					<p class="description">{{BodyOfWork.storyDescription}}</p>
					<p class="storyText">{{BodyOfWork.viewStoryContent}}</p>
				</div><br>
				<div class="add">
               <div class="submitBtn2">
                  <input data-toggle="modal" data-target="#addSnippet" ng-click="BodyOfWork.viewStorySnippets()" type="submit" value="Continue Story">
               </div>
				</div>
			</div>
         <!--All Snippets-->
         <div ng-show="BodyOfWork.recentSnippet" class="snippet">
            <h3>All Snippets</h3>
            <div class="snippet-grids">
               <div ng-repeat="snippets in BodyOfWork.snippets track by $index" class="snippet-grid">
                  <h4>{{BodyOfWork.allSnippetsTitle[$index]}}</h4>
                  <p>{{snippets.snip}}</p>
                  <div class="submitBtn3">
                     <input data-toggle="modal" data-target="#updateSnippet" ng-click="BodyOfWork.findUpdateSnippet($index)" type="submit" value="Update">
                     <input ng-click="BodyOfWork.deleteSnippet($index)" type="submit" value="Delete">
                  </div>
               </div>

               <!-- <div class="clearfix"> </div> -->
            </div>
         </div>
      </div>
	</div>
</div>
<!--Modals-->
<!-- Create Snippet Modal -->
<div class=" modal fade" id="addSnippet" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="formHeader modal-title"><img src="images/ft16.png" width="40" height="40"/> Create a New Story <img src="images/ft16.png" width="40" height="40"/></h4>
         </div>
         <div class="formInput modal-body">
            <p>
               <label>Story Title: </label><br>{{BodyOfWork.title}}<br>
               <label>Story Description:</label><br>{{BodyOfWork.description}}<br>
               <label>Story Category: </label><br>{{BodyOfWork.storyCategory}}<br>
               <label>Story Image URL: </label><br>{{BodyOfWork.img}}<br>
               <label>Story Content </label><br>{{BodyOfWork.content}}<br>
               <form class="modal-body storyForm">
                  <div class="storyForm3">
                     <textarea ng-model="BodyOfWork.snippet" class="storyContent" placeholder="Message:" required=" "></textarea><br>
                  </div>
                        <!-- <div class="submitBtn">
                           <input ng-click="BodyOfWork.newSnippet()" type="submit" value="SUBMIT">
                        </div> -->
               </form>
         </p>
         </div>
         <div class="modal-footer">
            <button class="btn btn-default" type="submit" name="button" ng-click="BodyOfWork.newSnippet()">Continue Story</button>
            <button type="button" ng-click="BodyOfWork.goHome()" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<!-- Update Snippet Modal -->
<div class=" modal fade" id="updateSnippet" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="formHeader modal-title"><img src="images/ft16.png" width="40" height="40"/> Create a New Story <img src="images/ft16.png" width="40" height="40"/></h4>
         </div>
         <div class="formInput modal-body">
            <p>
               <label>Story Title: </label><br>{{BodyOfWork.title}}<br>
               <form class="modal-body storyForm">
                  <div class="storyForm3">
                     <textarea ng-model="BodyOfWork.snippet" class="storyContent" placeholder="{{BodyOfWork.snippet}}" required=" "></textarea><br>
                  </div>
                        <!-- <div class="submitBtn">
                           <input ng-click="BodyOfWork.newSnippet()" type="submit" value="SUBMIT">
                        </div> -->
               </form>
         </p>
         </div>
         <div class="modal-footer">
            <button class="btn btn-default" type="submit" name="button" ng-click="BodyOfWork.updateSnippet()">Update Story</button>
            <button type="button" ng-click="BodyOfWork.goHome()" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<!-- Create Story Modal -->
<div class=" modal fade" id="createstory" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="formHeader modal-title"><img src="images/ft16.png" width="40" height="40"/> Create a New Story <img src="images/ft16.png" width="40" height="40"/></h4>
         </div>
         <div class="formInput modal-body">
            <form class="modal-body storyForm">
               <!-- <div ng-hide="Storyteller.isRegistered" style="color:red">{{Storyteller.createStorytellerMessage}}</div><br> -->
               <!-- <label>Author</lable><br>{{BodyOfWork.storyteller}} -->
               <!-- <input type="text" readonly="" ng-model="tale.author" placeholder="{{BodyOfWork.storyteller}}" required=" "><br> -->
					<input type="text" ng-model="tale.title" placeholder="Title:" required=" "><br>
					<input type="text" ng-model="tale.description" placeholder="Description:" required=" "><br>
               <input type="text" ng-model="tale.category" placeholder="Category:" required=" "><br>
               <input type="text" ng-model="tale.image" placeholder="Image URL:" required=" "><br>
               <div class="storyForm2">
   					<textarea ng-model="tale.content" class="storyContent" placeholder="Message:" required=" "></textarea><br>
               </div>
                        <!-- <div class="submitBtn">
            					<input ng-click="BodyOfWork.newStory(tale)" type="submit" value="SUBMIT">
                        </div> -->
               <!-- <input ng-model="author.name" type="text" placeholder="Name"/><span style="color:red">*</span><br>
               <input ng-model="author.email" type="text" placeholder="Email"/><span style="opacity: 0">*</span><br>
               <input ng-model="author.img" type="text" placeholder="Image URL"/><span style="opacity: 0">*</span><br>
               <input ng-model="author.username" type="text" placeholder="username"/><span style="color:red">*</span><br>
               <input ng-model="author.password" type="text" placeholder="Password"/><span style="color:red">*</span><br> -->
               <!-- <button class="btn btn-default" type="submit" name="button" ng-click="Storyteller.createStoryteller(author)">Submit</button>
                -->
             </form>
         </div>
         <div class="modal-footer">
            <button class="btn btn-default" type="submit" name="button" ng-click="BodyOfWork.newStory(tale)">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<!-- About Modal -->
<div class=" modal fade" id="about" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="formHeader modal-title"><img src="images/ft16.png" width="40" height="40"/> About <img src="images/ft16.png" width="40" height="40"/></h4>
         </div>
         <div class="formInput modal-body">
            <p>
               <label>
                  Introduction <br>
               </label>
               <p>This site is a community site. It is meant to bring people to together in a provided creative outlet. People can start a fairy tale or legend and others in the community can add to the story.  What wonderous adventures will you create?<p>
               <label>
                  Background<br>
               </label>
               <p>Märchen(Mär·chen) is the German diminutive of the obsolete German word Mär, meaning "news, tale" (Märchen). It may refer to:
                  <ul>
                     <li>
                        A fairy tale is a type of short story that typically features folkloric fantasy characters, such as dwarves, dragons, elves, fairies, giants, gnomes, goblins, griffins, mermaids, talking animals, trolls, unicorns, or witches, and usually magic or enchantments. Fairy tales may be distinguished from other folk narratives such as legends (which generally involve belief in the veracity of the events described)[1] and explicitly moral tales, including beast fables. The term is mainly used for stories with origins in European tradition and, at least in recent centuries, mostly relates to children's literature.
                  </li>
               </ul>
               <p>Sagen(Sȯ·gen) is an obsolete German word, meaning "legends". It may refer to:</p>
               <ul>
                  <li>
                  A legend is a narrative of human actions that are perceived both by teller and listeners to take place within human history and demonstrating human values, and which possesses certain qualities that give the tale verisimilitude. Legend, for its active and passive participants, includes no happenings that are outside the realm of "possibility", but may include miracles. Legends may be transformed over time, in order to keep them fresh and vital, and realistic. Many legends operate within the realm of uncertainty, never being entirely believed by the participants, but also never being resolutely doubted.
                  </li>
               </ul>
               <p>The Brothers Grimm defined legend as folktale historically grounded.[2] A modern folklorist's professional definition of legend was proposed by Timothy R. Tangherlini in 1990:</p>
               <ul>
                  <li>
                  Legend, typically, is a short (mono-) episodic, traditional, highly ecotypified[4] historicized narrative performed in a conversational mode, reflecting on a psychological level a symbolic representation of folk belief and collective experiences and serving as a reaffirmation of commonly held values of the group to whose tradition it belongs.
                  </li>
               </ul>
            </p>
            </p>
         </div>
         <div class="modal-footer">
            <!-- <button class="btn btn-default" type="submit" name="button" ng-click="Storyteller.loginStoryteller(userPass)">Login</button> -->
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<footer class="footer">
   <div class="container">
      <h5 class="spanright">Images by: Charlotte "Lotte" Reiniger (2 June 1899 – 19 June 1981)</h5><h5 class="spanleft">Made with &hearts; by Soniya Jassal &copy; 2017 GA WDIR Hopper Cohort</h5>
   </div>
</footer>
</body>
</html>
